// NOTE: if you want to use the Firebase CLI tools, then make
// sure you run `firebase init` in this project from your terminal

// test firebase account credentials
export const TEST_FIREBASE_CONFIG = {
    apiKey: '<API-KEY>',
    authDomain: '<YOUR-FIREBASE-DOMAIN>.firebaseapp.com',
    databaseURL: 'https://<YOUR-FIREBASE-URL>.firebaseio.com',
    projectId: '<PROJECT-ID>',
    storageBucket: '<YOUR-FIREBASE-BUCKET>.appspot.com',
    messagingSenderId: '<MESSAGING-SENDER-ID>',
};

// production firebase account credentials
export const FIREBASE_CONFIG = {
    piKey: '<API-KEY>',
    authDomain: '<YOUR-FIREBASE-DOMAIN>.firebaseapp.com',
    databaseURL: 'https://<YOUR-FIREBASE-URL>.firebaseio.com',
    projectId: '<PROJECT-ID>',
    storageBucket: '<YOUR-FIREBASE-BUCKET>.appspot.com',
    messagingSenderId: '<MESSAGING-SENDER-ID>',
};

export const TESTING = false;
